<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0xthedance</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

    <div class="navbar-brand">
            <img src="{% static "cryptotracker/Logo_Amamu.png" %}" />
        

      <a class="navbar-item has-text-primary is-size-4" href="{% url "home" %}">Crypto Tracker</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


    <div class="navbar-end">
      <div class="navbar-item">

        <div class="buttons">
          {% if request.user.is_active %}
          <a class="button is-light" href="{% url 'portfolio' %}">
            <span class="icon"><i class="fas fa-user"></i></span>
            <span>{{ request.user }}</span>
        </a>
              {% include "registration/_logout.html" %}
            
          {% else %}
            <a class="button is-primary" href="{% url "sign_up" %}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{% url "login" %}">
              Log in
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
 </nav>

 {% if request.user.is_authenticated %}
 <div class="tabs is-boxed mt-6 is-centered">
   <ul>
    <!-- Accounts Tab -->
    <li class="{% if request.resolver_match.url_name == 'accounts' %}is-active{% endif %}">
      <a href="{% url 'accounts' %}">
        <span class="icon"><i class="fas fa-wallet"></i></span>
        <span>Accounts</span>
      </a>
    </li>


    <!-- UserAddress Tab -->
    <li class="{% if request.resolver_match.url_name == 'user_addresses' %}is-active{% endif %}">
      <a href="{% url 'user_addresses' %}">
        <span class="icon"><i class="fas fa-address-book"></i></span>
        <span>Addresses</span>
      </a>
    </li>
 
     <!-- Portfolio Tab -->
     <li class="{% if request.resolver_match.url_name == 'portfolio' %}is-active{% endif %}">
       <a href="{% url 'portfolio' %}">
        <span class="icon"><i class="fas fa-chart-line"></i></span>
         <span>Portfolio</span>
       </a>
     </li>
 
     <!-- Staking Tab -->
     <li class="{% if request.resolver_match.url_name == 'staking' %}is-active{% endif %}">
       <a href="{% url 'staking' %}">
        <span class="icon"><i class="fas fa-coins"></i></span>
         <span>Staking</span>
       </a>
     </li>
    <!-- Rewards Tab -->
    <li class="{% if request.resolver_match.url_name == 'rewards' %}is-active{% endif %}">
      <a href="{% url 'rewards' %}">
        <span class="icon"><i class="fas fa-gift"></i></span>
        <span>Rewards</span>
      </a>
    </li>
     <!-- Stadistics Tab -->
     <li class="{% if request.resolver_match.url_name == 'statistics' %}is-active{% endif %}">
       <a href="{% url 'statistics' %}">
        <span class="icon"><i class="fas fa-chart-pie"></i></span>
         <span>Statistics</span>
       </a>
     </li>
    <!-- Admin Tab -->
    {% if request.user.is_authenticated and request.user.profile.is_admin %}
     <li class="{% if 'admin' in request.resolver_match.url_name %}is-active{% endif %}">
       <a href="{% url 'admin_panel' %}">
        <span class="icon"><i class="fas fa-cog"></i></span>
         <span>Admin</span>
       </a>
     </li>
    {% endif %}
   </ul>
 </div>
 {% endif %}

 {% if messages %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="notification is-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}
{% endblock content %}
<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>&copy; 2025 Thedance</p>
      </div>
    </div>
  </footer>
</body>
</html>
