export DOMAIN=
export DJANGO_ALLOWED_HOSTS=127.0.0.1,0.0.0.0,${DOMAIN}
export DJANGO_CSRF_TRUSTED_ORIGINS=https://${DOMAIN}
export DJANGO_DEBUG=False
export WEB3_ALCHEMY_PROJECT_ID=
export ETHERSCAN_API_KEY=
export THE_GRAPH_API_KEY=
export BEACONCHAIN_API_KEY=

export REDIS_URL=redis://localhost:6379
export CELERY_BROKER_URL=${REDIS_URL}/0
export CELERY_RESULT_BACKEND=${CELERY_BROKER_URL}
