{% extends "base.html" %}

{% block content %}
<div class="container mt-6">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h2 class="title is-3 has-text-centered">Create Your Account</h2>
                <p class="subtitle is-6 has-text-centered">Join Crypto Tracker and start managing your portfolio today.</p>
                
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="field">
                        <label class="label" for="id_username">Username</label>
                        <div class="control">
                            <input class="input" type="text" name="username" id="id_username" required>
                        </div>
                        {% if form.username.errors %}
                            <p class="help is-danger">{{ form.username.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="field">
                        <label class="label" for="id_password1">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password1" id="id_password1" required>
                        </div>
                        {% if form.password1.errors %}
                            <p class="help is-danger">{{ form.password1.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="field">
                        <label class="label" for="id_password2">Confirm Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password2" id="id_password2" required>
                        </div>
                        {% if form.password2.errors %}
                            <p class="help is-danger">{{ form.password2.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="field">
                        <label class="label" for="id_invite_code">Invite Code</label>
                        <div class="control">
                            <input class="input" type="text" name="invite_code" id="id_invite_code" 
                                   {% if form.invite_code.field.required %}required{% endif %}>
                        </div>
                        <p class="help">{{ form.invite_code.help_text }}</p>
                        {% if form.invite_code.errors %}
                            <p class="help is-danger">{{ form.invite_code.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="field mt-4">
                        <div class="control">
                            <input class="button is-primary is-fullwidth" type="submit" value="Sign Up" />
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{% url 'portfolio' %}" />
                </form>
                
                <div class="has-text-centered mt-4">
                    <p>Already have an account? <a href="{% url 'login' %}" class="has-text-link">Log in</a></p>
                </div>
            </div>
            <div class="has-text-centered mt-4">
                <a class="button is-light" href="{% url 'home' %}">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}